<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="false" />
        <rewrite>
            <rules>
                <rule name="Ignore Assets" stopProcessing="true">
                    <match url="^build/assets/" ignoreCase="true" />
                    <action type="None" />
                </rule>
                <rule name="Route directories and files to index except assets" stopProcessing="true">
                    <match url="^(.*)$" ignoreCase="true" />
                    <conditions logicalGrouping="MatchAll">
                        <!-- <add input="{DOCUMENT_ROOT}/public/{R:1}" matchType="IsFile" ignoreCase="false" /> -->
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="true" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="true" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.php/{R:1}" />
                </rule>
                <rule name="Route everything else to index except assets" stopProcessing="true">
                    <match url="^(.*)$" ignoreCase="true" />
                    <action type="Rewrite" url="index.php/{R:1}" appendQueryString="true" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>